.wrapper div {
    background-color: red;
}

.wrapper p {
    font-size: 34px;
    text-decoration: dotted;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}