.wrapper div {
    background-color: red;
    height: 200px;
    width: 400px;
    padding: 30px;
    margin-top: calc(25% - 100px);
    margin-left: calc(50% - 200px);
}

.wrapper p {
        font-size: 34px;
    text-decoration:  underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 15px;
}